body{
    background-color: rgb(24, 4, 51); 
    color:aliceblue; 
    font-family:Georgia, 'Times New Roman', Times, serif; 
   }
   fieldset{
     background-color: rgb(40, 18, 68);
     border: 5px outset white;
   } 
   legend{ 
     border-left: 2px outset aqua;
     border-top: 2px outset aqua;
     border-right: 2px outset aqua;        
     border-radius: 10px;
   } 
   textarea{
     background-color: grey;
     color: gold;
     border: 5px outset white;
   } 
   h2{
     text-indent: 20px;
   }
   p{
     font-size: 130%;
   }